---
export interface Props {
  title: string;
  description: string;
  link: string;
}
const { title, description, link } = Astro.props;
---

<article
  class="border border-gray-200 dark:border-gray-700 p-4 rounded-2xl shadow-sm hover:shadow-md transition"
>
  <h3 class="text-xl font-semibold mb-1">{title}</h3>
  <p class="text-base text-gray-700 dark:text-gray-300 mb-2">{description}</p>
  <a href={link} class="text-blue-600 hover:text-blue-800 underline"
    >View project</a
  >
</article>
